@font-face {
    font-family: "Road Rage";
    src: 
        url(resources/fonts/RoadRage-Regular.woff) format("woff"),
        url(resources/fonts/RoadRage-Regular.woff2) format("woff2");    
}

@font-face {
    font-family: "Rubik Glitch";
    src: 
        url(resources/fonts/RubikGlitch-Regular.woff) format("woff"),
        url(resources/fonts/RubikGlitch-Regular.woff2) format("woff2");    
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    --yellow: #FFD541;
    
    background-image: url(resources/bg.jpg);
    background-size: cover;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
}

/* index.html */

.title-screen {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.game-title {
    font-family: "Rubik Glitch";
    font-size: 10rem;
    text-shadow: 5px 5px black;
    text-align: center;
    align-self: end;
}

button {
    background-color: transparent;
    border: none;
    font-family: "Road Rage";
    font-size: 4rem;
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 1rem;
    text-underline-offset: -0.2rem;
    text-decoration-skip-ink: none;
    padding: 0.4em;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    color: var(--yellow);
    text-decoration-color: white;
}

/* modal */

dialog {
    margin: auto; /* Centers the dialog */
    border: none;
    border-radius: 5px;
    font-family: "Road Rage";
    padding: 2rem;
}

dialog::backdrop {
    background: black;
    opacity: 50%;
}

form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

form > p {
    font-size: 3rem;
    grid-column: span 2;
    text-align: center;
}

label {
    grid-column: span 2;
    font-size: 2.6rem;
}

input {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    border: solid 3px black;
    outline: none;
}

input:focus {
    border-color: var(--yellow);
}

form > button {
    text-decoration: none;
    border-radius: 5px;
    background-color: black;
    font-size: 2.6rem;
    padding: 0.2em 0.4em;
}

form > button:hover {
    background-color: var(--yellow);
    color: black;
}

/* game.html */

.game-container {
    display: grid;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    grid-template-rows: 150px 1fr 150px;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: "Rubik Glitch";
    padding: 2rem;
    box-sizing: border-box;
}

.player-one, .player-two {
    grid-row: span 2;
    align-self: start;
    text-align: center;
    font-size: 3rem;
    text-shadow: 5px 5px black;
    margin-top: 2rem;
}

.player-token {
    font-size: 7rem;
    margin-top: 2rem;
}

.game-prompt {
    font-size: 3rem;
    font-family: "Road Rage";
}

.board {
    align-self: stretch;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    aspect-ratio: 1 / 1;
}

.cell {
    border: solid white 3px;
    text-decoration: none;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    /* prevent shrinking/growing after clicking in zoomed view */
    font-size: clamp(2rem, 4vw, 5rem);
    min-width: 0;
    min-height: 0;
}

.cell:hover {
    background-color: white;
    color: white;
}

.cell:disabled:hover {
    background-color: red;
}

div.buttons {
    grid-column: span 3;
    display: flex;
}

